<div id = "game">
<h1>Welcome to Blackjack!</h1>

<% if @play_again %>
<p>
  <% if session[:pot] == 0 %>
    <h3><strong>Sorry, you're out of money! You can't play again.</strong></h3>
  <% else %>  
    <strong>Play again?</strong>
    <a href="/bet" class="btn btn-success">Yes</a>
    <a href="/game_over" class="btn btn-danger">No</a>
  <% end %>
</p>
<% end %>

<div class="well">
  <h4>Dealer's Cards</h4>
    <% session[:dealer_cards].each_with_index do |card, i| %>
      <% if session[:turn] != "dealer" && i == 0 %>
        <img src="/images/cards/cover.jpg" class='card_image'>
      <% else %>
        <%= card_image(card) %>
      <% end %>
    <% end %>

    <% if @dealer_button %>
    <p>
      <h5>Dealer's total is <%= total(session[:dealer_cards]) %></h5>
      <form id = "dealer_hit" action = '/game/dealer/hit' method = "post">
      <input type = "submit" value = "Click to see dealer's next card" class="btn btn-info">
      </form>
    </p>
    <% end %>
</div>

<div class="well">
  <h4> <%= session[:player] %>'s cards</h4>
    <% session[:player_cards].each do |card| %>
      <%= card_image(card) %>
    <% end %>
  
</div>


<h4> <%= session[:player] %> has <%= total(session[:player_cards]) %>.</h4>
<p class = "muted"><%= session[:player] %> has <strong> $<%= session[:pot] %></strong>. Bet for this round is <strong>$<%= session[:bet] %> </strong>.</p>

<p>
<% if @show_buttons %>
<h3>What would you like to do?</h3>
<form id ="hit_form" action = '/game/player/hit' method = "post">
<input type = "submit" value = "HIT" class="btn btn-success btn-large">
</form>
<form id = "stay_form" action = '/game/player/stay' method = "post">
<input type = "submit" value = "STAY" class="btn btn-primary btn-large">
</form>
<% end %>
</p>
</div>

